<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tüm kullanıcılar</title>
</head>
<body>
    <h2>Tüm kullanıcılar</h2>
    <table border="1">
        <tr>
            <th>Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'accounts:kullanici_veri_ekle' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
         
        </tr>
        {% endfor %}
    </table>
</body>
</html>
